
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Blog </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="http://localhost:8000/"> Home </a>
              </li>

              {% if category_list %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Categories </a>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    {% for category in category_list %}
                      <!-- 
                      <a class="dropdown-item" href="/category/{{ category.name }}">
                        {{ category.name|title }}
                      </a>
                    -->
                      <a class="dropdown-item" href="#">
                        {{ category }}
                      </a>
                    {% endfor %}

                  </div>
                </li>
              {% endif %}

            </ul>
        
          </div>
        </div>
    </nav>

    <div class="row justify-content-md-center">
    <div class="col-md-8">
    {% for post in object_list %}
        <div class="col-12 pt-5">
        <h1>
        <a class="text-dark" href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
        </h1>
        </div>
        <div class="col-12"> <p> {{ post.excerpt }} </P> </div><br/>
        
    {% endfor %}
    
    {% for category in category_list %}
    {{ category.name }} <br/>
    {% endfor %}

    </div>
    </div>

</div>